body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: rgb(31, 28, 25);
}

a {
    text-decoration: none;
}
#main-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 19, 18);
    padding: 0 5%;
}
#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: orange;
    text-transform: uppercase;
}
.menu-btn {
    width: 3rem;
    height: 3rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    display: none;
}
.menu-btn span {
    width: 100%;
    height: 3px;
    background-color: white;
    display: block;
}
#main-header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#main-header li {
    margin: 0 16px;
}
#main-header nav a {
    color: orange;
    font-size: 1.2rem;
}
#main-header nav a:hover {
    color: rgb(100, 70, 36);
}
#side-drawer {
    width: 100%;
    height: 100%;
    background-color: rgb(26, 22, 22);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
#side-drawer:target {
    display: block;
}
#side-drawer header {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(20, 19, 18);
    padding: 0 5%;
}
#side-drawer ul {
    list-style: none;
    margin: 0;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#side-drawer li {
    margin: 1rem 0;
}
#side-drawer a {
    font-size: 2rem;
    color: antiquewhite;
    padding: 0.3rem;
    border-radius: 6px;
}
#side-drawer a:hover {
    background-color: antiquewhite;
    color: rgb(26, 22, 22);
}
main h1 {
    text-align: center;
    color: orange;
    font-size: 3rem;
}
#latest-product {
    width: 80%;
    margin: 2rem auto;
}
#latest-product ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

.food-item {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    overflow: hidden;
}

.food-item img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
.food-item-content {
    padding: 1rem;
    text-align: center;
}
.food-item h2 {
    margin-bottom: 1rem;
}
.btn {
    background-color: rgb(228, 157, 41);
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
}
.btn :hover {
    background-color: rgb(221, 13, 34);
}

@media (max-width: 48rem) {
    .menu-btn {
        display: grid;
    }
    #main-header nav {
        /* visibility: hidden; */
        display: none;
    }
    main h1 {
        font-size: 1.5rem;
    }
    #latest-product ul {
        grid-template-columns: 100%;
    }
}
